<div class="mx-auto px-4">
  <div class="mx-auto my-2 text-center border-2 text-uppercase">
    <h1>Tienda</h1>
  </div>
  <div class="containerProducts">
    <div class="sidebar">
      <div class="logo text-center">JIF Style Store</div>
      <input type="text" id="txtSearch" placeholder="Buscar Producto..." />
      <h3>Categoría</h3>
      <ul class="category-list text-capitalize">
        <li><a href="/products">Todos</a></li>
        {{#each uniqueCategories}}
          <li><a href="/products?query={{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
    {{#if payload}}
    <div class="row centrar no-selection">
      {{#each payload}}
        <article class="col-6 col-xl-3 col-lg-4">
          <div class="tarjeta thumb-wrapper">
            <figure>
              <div class="image-container">
                {{#if thumbnails}}
                  <img class="card-img" src="img/{{thumbnails}}" alt="{{title}}"/>
                {{else}}
                  <img class="card-img" src="img/noThumbnails.webp" alt="{{title}}"/>
                {{/if}}
                <div class="mask"></div>
                <figcaption>
                  <a href="/products/item/{{_id}}" class="btn btn-effect btn-dark btn-jif bg-black btn-detalles">Ver Detalles</a>
                </figcaption>
              </div>
            </figure>
            <p>{{title}}</p>
            <p>${{price}}</p>
          </div>
        </article>
      {{/each}}
    </div>
    {{else}}
    <h1 class="text-center md:mt-12 text-lg">No hay productos</h1>
    {{/if}}
  </div>

  <div style="position:relative" class="container d-flex justify-content-center align-items-center gap-4 p-4">
    {{#if hasPrevPage}}
            
    <a style="position:relative" class="btn button-black prev px-5" href="{{this.prevLink}}">
      <div class="arrow"><span></span><span></span></div>Atrás</a>
    {{/if}}
    {{#if hasNextPage}}
    <a class="btn button-black next px-5" href="{{this.nextLink}}">Siguiente</a>
    {{/if}}
    <h3>Página: {{page}}/{{totalPages}}</h3>
  </div>
</div>

<!-- Scripts necesarios -->
<script src="https://kit.fontawesome.com/4e9044019f.js" crossorigin="anonymous"></script>
